@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

/* common styles start */
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: grey;
  font-weight: 500;
}

p{
  font-size: 16.5px;
  font-weight: 400;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: whitesmoke;
  display: flex;
  justify-content: center;
}

.main_white_box{
  width: 70%;
  min-height: 100%;
  background: white;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 30px;
  position: relative;
}

@media (max-width:1000px) {
  .main_white_box{
    width: 100%;
    padding: 20px;
    padding-top: 20px;
  }
}

/* common styles end */

/* navbar start */
.navbar{
  width: 100%;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_name h2{
  font-weight: 500;
}

.navbar ul{
  display: flex;
  gap: 1.2rem;
  list-style: none;
  font-weight: 500;
}

.navbar a{
  text-decoration: none;
  color: black;
}

.navbar a:hover{
  text-decoration: underline;
}

@media (max-width:1000px) {
  .navbar{
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .navbar ul{
    font-size: 15px;
  }
}
/* navbar end */

/* footer start */
.footer{
  margin-top: 3rem;
}

.footer p{
 text-align: center;
 color: grey;
}

/* footer end */

/* hero start */
.hero{
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: flex-end;
}

.hero .left_side{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid lightgrey;
}

.hero .left_side h2{
  font-weight: 500;
  font-size: 25px;
}

.hero .left_side h1{
  font-size: 16px;
  width: 20rem;
  font-weight: 400;
}

.hero .right_side{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

.hero .right_side img{
  border-radius: 50%;
}

@media (max-width:1000px) {
  .hero{
    margin-top: 1rem;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }

  .hero .left_side{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .hero .left_side h2, .hero .left_side h1{
    text-align: center;
  }

  .hero .right_side{
    border: none;
    width: 100%;
  }
}
/* hero end */

/* about start */
.about{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.about h2{
  font-size: 20px;
  font-weight: 600;
}

.para_container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* about end */

/* projects start */
.projects{
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.projects h2{
  font-size: 20px;
  font-weight: 600;
}

.projects_list{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project_card{
  width: 100%;
  border: 1px solid#d3d3d381;
  display: flex;
  gap: 1.3rem;
  padding: 15px;
}

.project_img{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_img img{
  width: 100%;
  height: 100%;
  border: 1px solid #d3d3d35c;
}

.project_details{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_details div:first-child{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project_details div:first-child p{
  font-size: 15.6px;
}

.project_details div:last-child{
  display: flex;
  gap: 12px;
}

.project_details button{
  padding: 5px;
  border: none;
  background: #d9d9d939;
  cursor: pointer;
  color: #0000008c;
}

.project_details button:hover{
  color: black;
}

.project_details h4{
  font-weight: 600;
}

@media (max-width:600px) {
  .project_card{
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .project_img{
    width: 100%;
  }

  .project_details{
    gap: 1rem;
    width: 100%;
  }
}
/* projects end */

/* blog section start */
.blog_section{
  width: 100%;
  margin-top: 1.5rem;
}

.blog_section h2{
  font-size: 20px;
  font-weight: 600;
}

.blog_cards{
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blog_card{
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blog_card_title h4{
  width: auto;
  font-weight: 500;
  font-size: 19px;
  color: black;
}

.blog_card_title h4:hover{
  text-decoration: underline;
}

.blog_card_date p{
  font-size: 15px;
  font-weight: 400;
  color: grey;
}

.blog_card_line p{
  font-size: 14.6px;
}

@media (max-width:800px) {
  .blog_cards{
    flex-direction: column;
  }

  .blog_card{
    width: 100%;
  }
}
/* blog section end */